appdirs==1.4.3
certifi==2017.7.27.1
chardet==3.0.4
contextlib2==0.5.5
funcsigs==1.0.2
future==0.16.0
futures==3.1.1
idna==2.6
mock==2.0.0
packaging==16.8
pbr==3.1.1
py==1.4.34
pyparsing==2.2.0
pytest==3.2.1
PyYAML==3.12
requests==2.20.0
six==1.10.0
urllib3==1.22
vcrpy==1.11.1
wrapt==1.10.11
